.options-container {
  height: 100px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--text-color);
}

.middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
