<div class="options-container">
  <div class="sub-container">
    @if (this.algorithmService.currentAlgorithm) {
      <app-visualizer-toggle></app-visualizer-toggle>
    }
    <app-algorithm-selector></app-algorithm-selector>
    @if (this.algorithmService.currentAlgorithm) {
      <app-algorithm-tooltip></app-algorithm-tooltip>
    }
  </div>
  <div class="middle">
    <app-algorithm-elements-slider></app-algorithm-elements-slider>
  </div>
  <div>
    <app-algorithm-delay-slider></app-algorithm-delay-slider>
  </div>
</div>
