.options-container {
  height: auto;
  width: 90%;
  margin: auto;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--text-color);
}

.sub-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
