.visualizer-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: auto;
}

.visualizer-colum {
  flex: 1;

  margin-right: 1px;

  background-color: whitesmoke;

  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.comparison {
  background-color: indianred;
}

.other-comparison {
  background-color: yellow;
}

.pivot {
  background-color: cyan;
}
