:root {
  --body-color: linear-gradient(to top right, #f7dd72, #cd956d);
  --text-color: black;
  --button-text-color: #f7dd72;
  --responsive-break-point: 1024px;
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: var(--body-color) fixed;
  color: var(--text-color);

  margin: 0 auto;
  width: 90%;

  user-select: none;
}
