.data-input {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-size: 1rem;
  background-color: var(--text-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
