.algoselector{
    border: none;
    border-radius: 10px;
    padding: 2px;
    /* background-color: rgb(57, 138, 54); */
    background-color: var(--text-color);
    cursor: pointer;
    color: var(--button-text-color);
}
.algoselector:focus{
    outline: none;
}
.listofalgorithms{
    cursor: pointer;
}