select {
  font-size: 1rem;
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

select:not(:disabled) {
  background-color: var(--text-color);
}
